@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  src: url("/fonts/space-grotesk.ttf");
  font-family: SpaceMono;
  font-weight: normal;
  font-style: normal;
}

*,
html body {
  font-family: SpaceMono !important;
  scroll-behavior: smooth;
}
